In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Desktop//csv files//AB_NYC_2019.csv",parse_dates=['last_review'])
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [9]:
df.isnull().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
price_per_night                   0
dtype: int64

In [10]:
df.shape

(38843, 15)

In [11]:
df.drop(['name','host_name'],axis='columns',inplace=True)
df.dropna(inplace=True)

KeyError: "['name', 'host_name'] not found in axis"

In [12]:
df.sample(5)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_night
20370,16267197,40711894,Queens,Elmhurst,40.74012,-73.88917,Private room,53,1,9,2018-09-09,0.29,4,0,53.000000
36431,28965064,1093167,Brooklyn,Crown Heights,40.68076,-73.96415,Entire home/apt,150,1,3,2018-10-14,0.33,1,95,150.000000
41208,32049606,58220119,Manhattan,Harlem,40.81670,-73.94421,Private room,300,2,1,2019-05-27,0.70,1,76,150.000000
45772,34945599,263126029,Manhattan,Upper East Side,40.76383,-73.96870,Entire home/apt,169,2,3,2019-06-21,2.65,1,7,84.500000
9108,6972673,13698410,Brooklyn,Clinton Hill,40.69489,-73.96496,Private room,80,7,12,2017-06-25,0.25,1,0,11.428571

In [13]:
max_thres,min_thres=df['price'].quantile([0.99,0.01])

In [14]:
max_thres

671.1600000000035

In [15]:
min_thres

30.0

In [16]:
df[df.price<min_thres]

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_night
957,375249,1887999,Staten Island,Graniteville,40.62109,-74.16534,Private room,20,3,80,2019-05-26,0.92,1,226,6.666667
2675,1428154,5912572,Brooklyn,Flatbush,40.63899,-73.95177,Shared room,29,2,5,2014-10-20,0.07,1,321,14.500000
3020,1767037,9284163,Queens,Woodhaven,40.68968,-73.85219,Private room,29,2,386,2019-06-19,5.53,3,50,14.500000
3918,2431607,4973668,Brooklyn,Bedford-Stuyvesant,40.68642,-73.93440,Shared room,25,5,76,2019-06-06,1.22,3,258,5.000000
4647,3258197,16477306,Manhattan,Upper East Side,40.76866,-73.95553,Entire home/apt,16,2,21,2019-06-30,1.69,1,9,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46894,35481807,179478172,Brooklyn,Flatbush,40.65022,-73.96281,Shared room,25,4,1,2019-06-26,1.00,3,334,6.250000
47130,35606165,267872829,Brooklyn,Fort Hamilton,40.61819,-74.03296,Shared room,20,1,1,2019-06-27,1.00,1,353,20.000000
47218,35642891,268138154,Brooklyn,Bushwick,40.69640,-73.91898,Private room,10,1,2,2019-06-18,2.00,1,0,10.000000
48126,36101190,30839692,Queens,Flushing,40.75406,-73.80613,Shared room,25,1,1,2019-06-30,1.00,3,86,25.000000
48486,36280646,272872092,Queens,Forest Hills,40.73657,-73.85088,Entire home/apt,16,9,1,2019-07-07,1.00,1,322,1.777778

In [17]:
df[df.price>max_thres]

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_night
85,19601,74303,Brooklyn,Brooklyn Heights,40.69723,-73.99268,Entire home/apt,800,1,25,2016-08-04,0.24,1,7,800.000000
496,174966,836168,Manhattan,Upper West Side,40.77350,-73.98697,Entire home/apt,2000,30,30,2018-05-05,0.33,11,0,66.666667
653,248871,605463,Manhattan,West Village,40.73066,-74.00287,Entire home/apt,700,3,131,2019-06-24,1.40,4,296,233.333333
662,250801,1314834,Manhattan,Greenwich Village,40.73129,-73.99944,Entire home/apt,850,3,107,2019-05-23,1.15,1,249,283.333333
691,256328,1347034,Manhattan,Chelsea,40.74599,-74.00253,Entire home/apt,760,2,7,2019-06-22,0.08,1,361,380.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47041,35569459,163029687,Manhattan,SoHo,40.72434,-73.99945,Entire home/apt,900,3,1,2019-07-06,1.00,1,292,300.000000
47063,35576863,83819376,Manhattan,Hell's Kitchen,40.75438,-73.99378,Entire home/apt,843,1,4,2019-07-04,4.00,1,358,843.000000
47391,35713184,11503187,Brooklyn,Prospect-Lefferts Gardens,40.66085,-73.95586,Entire home/apt,1400,10,1,2019-07-02,1.00,1,17,140.000000
47400,35715171,71276635,Manhattan,Washington Heights,40.83571,-73.94179,Entire home/apt,750,1,1,2019-07-07,1.00,5,364,750.000000
47950,36000376,268449136,Manhattan,Chelsea,40.74263,-74.00234,Entire home/apt,800,3,1,2019-07-01,1.00,1,345,266.666667

In [20]:
df2=df[(df.price>min_thres) & (df.price<max_thres)]

In [21]:
df2.sample(5)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_night
19033,15114935,31070690,Manhattan,Washington Heights,40.83839,-73.93819,Private room,119,2,12,2018-09-02,0.36,1,124,59.5
21,8024,22486,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,130,2019-07-01,1.09,6,347,65.0
14733,11651455,61391963,Manhattan,Midtown,40.75688,-73.96815,Entire home/apt,150,30,9,2019-01-31,0.26,91,206,5.0
46786,35432326,63941116,Manhattan,Financial District,40.70606,-74.00899,Entire home/apt,199,1,3,2019-06-20,3.00,1,324,199.0
14691,11605983,12352188,Brooklyn,Boerum Hill,40.68792,-73.98999,Entire home/apt,125,5,8,2017-07-10,0.20,1,0,25.0